.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 7px;
    border: 1px solid #050405;
  h5 {
    padding: 5px;
    text-align: center;
  }
}
